#{extends 'main.html' /}
#{set title:'Moofwd Documentation Site' /}

<!-- Ajax documenting code starts here, style and javascript -->

<style type="text/css">
	/* Clickable text */
	body {
		font-family: "Trebuchet MS", "sans-serif";
		font-size: 13px;
	}
	.alink {
		color: #0066dd;
		cursor: pointer;
	}
	.alink:hover {
		color: #0055cc;
		background-color: #ddffdd;
		cursor: pointer;
	}
	/* */
	.document-body {
		margin-top: 20px;
	}
	/* */
	.version-body {
		margin-top: 20px;
		margin-left: 20px;
	}
	/* */
	.comment-body {
		margin-top: 20px;
		margin-left: 20px;
	}
</style>

<script type="text/javascript">

	/* Parse documents JSON data */
	function parseDocuments(documents) {
	
		var target = $('#document-body');
		target.html("<div></div>"); 
		
		// Populate all document in returned JSON data object
		for (var p in documents) {
		
			var versionHtml = $("<div></div>");
			// Add document title
			target.append(
						$('#document-template')
							.clone()
							.removeAttr('id')
							.attr('class', "document-body")
							.css('display', "block")
						// Set document title
						.find('#document-title')
							.prepend("(" + documents[p].subject + ")")
							.end()
						// Edit document
						.find('#document-edit')
							.attr('class', "alink")
							.attr('id', "e_p" + p)
							.attr('documentId', documents[p].id)
							.end()
						// Delete document
						.find('#document-delete')
							.attr('class', "alink")
							.attr('id', "d_p" + p)
							.attr('documentId', documents[p].id)
							.end()
						.find('#document-versions')
							.prepend(versionHtml)
							.end());
			
			var versions = documents[p].versions;
			// Populate all versions of the document
			for (var v in versions) {
			
				var commentHtml = $("<div></div>");
				// Add version content
				versionHtml.append(
								$('#version-template')
									.clone()
									.removeAttr('id')
									.attr('class', "version-body")
									.css('display', "block")
								// Version date
								.find('#version-date')
									.prepend("Version "
											+ (parseInt(v) + 1)
											+ " - "
											+ versions[v].date)
									.end()
								// Make comment on version
								.find('#version-comment')
									.attr('class', "alink")
									.attr('id', "c_p" + p + "v" + v)
									.attr('documentId', documents[p].id)
									.attr('versionId', versions[v].id)
									.end()
								// Delete a version
								.find('#version-delete')
									.attr('class', "alink")
									.attr('id', "d_p" + p + "v" + v)
									.attr('documentId', documents[p].id)
									.attr('versionId', versions[v].id)
									.end()
								// Comment body
								.find('#version-body')
									.prepend(versions[v].content)
									.end()
								.find('#version-comments')
									.prepend(commentHtml)
									.end());
				
				var comments = versions[v].comments;
				// Add comments to the version
				for (var c in comments) {
				
					commentHtml.append(
									$('#comment-template')
										.clone()
										.removeAttr('id')
										.attr('class', "comment-body")
										.css('display', "block")
									// Comment date
									.find('#comment-date')
										.prepend(comments[c].date)
										.end()
									// Comment date
									.find('#comment-title')
										.prepend("(" + comments[c].subject + ")")
										.end()
									// Make comment on version
									.find('#comment-delete')
										.attr('class', "alink")
										.attr('id', "d_v" + v + "c" + c)
										.attr('versionId', versions[v].id)
										.attr('commentId', comments[c].id)
										.end()
									// Comment date
									.find('#comment-body')
										.prepend(comments[c].content)
										.end());
				
					// Add delete comment click event handler
					$('#d_v' + v + 'c' + c).click(function() {
					
						$.getJSON('/ajaxDeleteComment',
								{ "versionId": $(this).attr('versionId'),
								  "commentId": $(this).attr('commentId') },
								listDocuments);
					});
				}
				
				// Add comment click event handler
				$('#c_p' + p + 'v' + v).click(prepareCommentForm);
				
				// Add delete version click event handler
				$('#d_p' + p + 'v' + v).click(function() {
				
					$.getJSON('/ajaxDeleteVersion',
							{ "documentId": parseInt($(this).attr('documentId')),
							  "versionId": parseInt($(this).attr('versionId')) },
							doneDeleteVersion);
				});
			}
			
			// Add edit document click event handler
			$('#e_p' + p).click(function() {
			
				$.getJSON('/ajaxFormEdit',
						{ "documentId": parseInt($(this).attr('documentId')) },
						prepareEditForm);
			});
			
			// Add delete document click event handler
			$('#d_p' + p).click(function() {
			
				$.getJSON('/ajaxDeleteDocument',
						{ "documentId": parseInt($(this).attr('documentId')) },
						doneDeleteDocument);
			});
		}
	}
	
	/* */
	function prepareCreateForm() {
	
		$('#create-document').css('display', "block");
		$('#document-body').css('display', "none");
		$('#submit-document').unbind();
		$('#submit-document').click(function() {
			createDocument();
		});
		
		$('#clear-document').unbind();
		$('#clear-document').click(function() {
			clearDocumentForm();
		});
		
		$('#cancel-document').unbind();
		$('#cancel-document').click(function() {
			cancelDocumentForm();
		});
	}
	
	/* */
	function clearDocumentForm() {
	
		 $('#document-subject').attr('value', "");
		 $('#document-content').attr('value', "");
	}
	
	/* */
	function cancelDocumentForm() {
	
		clearDocumentForm();
		$('#create-document').css('display', "none");
		$('#document-body').css('display', "block");
	}
	
	/* Submit your document data */
	function createDocument() {
	
		var subject = $('#document-subject').val();
		var content = $('#document-content').val();
		var parentId = $('#document-parent-id').val();
		
		// Send document data using jQuery Ajax document() method
		$.getJSON('/ajaxCreateDocument',
				{ "subject": subject,
				  "content": content,
				  "parentId": parentId
				},
				doneCreateDocument,
				'json');
	}
	
	/* Done creating new document */
	function doneCreateDocument()
	{
		clearDocumentForm();
		$('#create-document').css('display', "none");
		$('#document-body').css('display', "block");
		// Request for tree refresh
		$.tree.refresh = true;
		if ($.tree.refresh) {
			// Refresh document tree
			loadTree();
			$.tree.refresh = false;
		}
		listDocuments();
	}
	
	/* */
	function prepareEditForm(document) {
	
		$('#form-edit-document').css('display', "block");
		$('#document-edit-id').attr('value', document.id);
		$('#document-edit-subject').attr('value', document.subject);
		// Set target text with the content of the only version
		$('#document-edit-content').attr('value', document.versions[0]
											? document.versions[0].content
											: "");
		
		$('#submit-edit-document').unbind();
		$('#submit-edit-document').click(function() {
		
			var documentId = $('#document-edit-id').attr('value');
			var subject = $('#document-edit-subject').attr('value');
			var content = $('#document-edit-content').attr('value');
			$.getJSON('/ajaxEditDocument',
					{ "documentId": documentId,
					  "newTitle": subject,
					  "newContent": content },
					doneEditDocument);
		});
		
		$('#cancel-edit-document').unbind();
		$('#cancel-edit-document').click(function() {
		
			$('#document-edit-id').attr('value', "");
			$('#document-edit-subject').attr('value', "");
			$('#document-edit-content').attr('value', "");
			$('#form-edit-document').css('display', "none");
			// Clear submit click event listener
			$('#submit-edit-document').unbind();
		});
	}
	
	/* */
	function cancelEditDocument() {
		
		$('#document-edit-id').attr('value', "");
		$('#document-edit-subject').attr('value', "");
		$('#document-edit-content').attr('value', "");
		$('#form-edit-document').css('display', "none");
	}
	
	/* */
	function doneEditDocument() {
	
		$('#cancel-edit-document').click();
		// Click events stacks, clear click event listener on submit button
		$('#submit-edit-document').unbind();
		$.tree.refresh = true;
		if ($.tree.refresh) {
			// Refresh document tree
			loadTree();
			$.tree.refresh = false;
		}
		listDocuments();
	}
	
	/* */
	function doneDeleteDocument() {
		
		// Request for tree refresh
		$.tree.refresh = true;
		if ($.tree.refresh) {
			// Refresh document tree
			loadTree();
			$.tree.refresh = false;
		}
		$.tree.node_selected = 0;
		listDocuments();
	}
	
	/* */
	function doneDeleteVersion() {
		
		listDocuments();
	}
	
	/* */
	function prepareCommentForm(document) {
	
		$('#create-comment').css('display', "block");
		$('#comment-version-id').attr('value', $(this).attr('versionId'));
		
		$('#submit-comment').unbind();
		$('#submit-comment').click(function() {
			var versionId = $('#comment-version-id').attr('value');
			var subject = $('#comment-subject').attr('value');
			var content = $('#comment-content').attr('value');
			$.getJSON('/ajaxComment',
					{ "versionId": versionId,
					  "subject": subject,
					  "content": content },
					doneComment);
		});
		
		$('#clear-comment').unbind();
		$('#clear-comment').click(function() {
			$('#comment-version-id').attr('value', "");
			$('#comment-subject').attr('value', "");
			$('#comment-content').attr('value', "");
		});
		
		$('#cancel-comment').unbind();
		$('#cancel-comment').click(function() {
			cancelComment();
		});
	}
	
	/* */
	function cancelComment() {
	
		$('#clear-comment').click();
		$('#create-comment').css('display', "none");
	}
	
	/* */
	function doneComment() {
	
		$('#cancel-comment').click();
		// Click events stacks, clear click event listener on submit button
		$('#submit-comment').unbind();
		
		listDocuments();
	}
	
	/* */
	function listDocuments() {
	
		if ($.tree.node_selected==0) {
			/*$.getJSON('/ajaxAllDocuments',
				null,
				parseDocuments,
				'json');*/
			$('#document-body').html("<h2>Welcome to moofwd</h2>");
		}
		else {
			$.getJSON('/ajaxRequestDocuments',
					{ documentIds: [$.tree.node_selected] },
					parseDocuments,
					'json');
		}
	}
	
	/* */
	function loadTree() {
	
		$.getJSON('/ajaxBuildTree',
				null,
				buildTree,
				'json');
	}
	
	/* */
	function buildTree(treeData) {
		
		$(function () {
			
			$('#create-new-node').unbind();
			$('#create-new-node').click(function() {
				/*$('#document-tree').jstree("create",
							null,
							"inside",
							{ "data": "New node" },
							function() {
								// Node creation call back function
							},
							true);*/
				prepareCreateForm();
			});
			
			$('#remove-node').unbind();
			$('#remove-node').click(function() {
				$('#document-tree').jstree("remove");
			});
			
			$('#document-tree').jstree({
				"json_data": { "data": treeData },
				"plugins": [ "themes", "json_data", "ui"],
				"initially_select": [0]
			})
			.bind("select_node.jstree", function(event, data) {
				// When a node is clicked, set a buffer value to tree element
				$.tree.node_selected = data.rslt.obj.attr('id');
				$('#document-parent-id').val($.tree.node_selected);
				// Hide create document form
				cancelEditDocument();
				cancelComment();
				listDocuments();
			})
			.delegate("a", "click", function(event, data) {
				event.preventDefault();
			});
		});
	}
	
	/* DOM objects loaded event handler */
	$(document).ready(function() {
		
		// Reload document tree node structure
		loadTree();
		
		// Initialization
		$.tree = new Object();
		$.tree.node_selected = 0;
		$.tree.refresh = false;
		
		// Populate all documents on the front page
		listDocuments();
		
		// jquery Layout
		$('body').layout(
			{ applyDefaultStyles: true,
			  resizable: false
		});
	});
	
</script>

<!-- Markups starts here -->

<!-- Left column contains document tree structure -->
<div class="ui-layout-west">
	<h2>Document tree</h2>
	<div id="document-tree"></div>
	<div>
		<h4>
			<span id="create-new-node" class="alink">Create child document</span>
			<span id="remove-node" class="alink" style="display:none;">Remove</span>
		</h4>
	</div>
</div>

<!-- Right column contains document body -->
<div class="ui-layout-center">

	<!-- Document content -->
	<div id="document-body" style="display:block;"></div>
	
	<!-- Create document form -->
	<div id="create-document" style="display:none;">
		<h2>Create new document:</h2>
		<p>
			<span>Subject:</span>
			<input id="document-subject" type="text"></input>
		</p>
		<p>
			<span>Content:</span>
			<textarea id="document-content" rows="10" cols="40"></textarea>
		</p>
		<p>
			<span>Parent Document Id:</span>
			<input id="document-parent-id" type="text" value="0" readonly></input>
		</p>
		<h3>
			<span id="submit-document" class="alink">Submit</span>
			or
			<span id="clear-document" class="alink">Clear</span>
			or
			<span id="cancel-document" class="alink">Cancel</span>
		</h3>
	</div>
	
	<!-- Edit document form -->
	<div id="form-edit-document" style="display:none;">
		<h3>Edit document:</h3>
		<p>
			<input type="hidden" id="document-edit-id"></input>
		</p>
		<p>
			<span>Subject:</span>
			<input id="document-edit-subject" value=""></input>
		</p>
		<p>
			<span>Content:</span>
			<textarea id="document-edit-content" rows="10" cols="60"></textarea>
		</p>
		<h4>
			<span id="submit-edit-document" class="alink">Submit</span>
			or
			<span id="cancel-edit-document" class="alink">Cancel</span>
		</h4>
	</div>

	<!-- Create comment form -->
	<div id="create-comment"  style="display:none;">
		<h3>Comment:</h3>
		<p>
			<input type="hidden" id="comment-version-id"></input>
		</p>
		<p>
			<span>Subject:</span>
			<input id="comment-subject" type="text"></input>
		</p>
		<p>
			<span>Content:</span>
			<textarea id="comment-content" rows="10" cols="60"></textarea>
		</p>
		<h4>
			<span id="submit-comment" class="alink">Submit</span>
			or
			<span id="clear-comment" class="alink">Clear</span>
			or
			<span id="cancel-comment" class="alink">Cancel</span>
		</h4>
	</div>

	<!-- Templates -->

	<!-- Document template -->
	<div id="document-template" style="display:none;">
		<h3>
			<span id="document-title"></span>
			<span id="document-edit">Edit</span>
			<span id="document-delete">Delete</span>
		</h3>
		<p>
			<div id="document-versions"></div>
		</p>
	</div>

	<!-- Version template -->
	<div id="version-template" style="display:none;">
		<h4>
			<span id="version-date"></span>
			<span id="version-comment">Comment</span>
			<span id="version-delete">Delete</span>
		</h4>
		<p>
			<span id="version-body"></span>
			<div id="version-comments"></div>
		</p>
	</div>

	<!-- Comment template -->
	<div id="comment-template" style="display:none;">
		<p>
			<span id="comment-date"></span>
			<span id="comment-title"></span>
			<span id="comment-delete">Delete</span>
		</p>
		<p>
			<span id="comment-body"></span>
		</p>
	</div>
	
<!-- End of ui center layout -->
</div>